# Arquivos da IDE
.idea/
*.iml

# Gradle
.gradle/
build/
local.properties

# Android
/captures
.externalNativeBuild
.cxx
output.json

# macOS
.DS_Store

# VSCode
.vscode/

# Arquivos temporários
*.log
